# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Doxygen directories
src-mpi/html
src-mpi/latex

# Build junk
.depend
.depend.bak
CoMD_info.h
bin
*.yaml
.ipynb_checkpoints
*.pyc
TAGS

# Emacs junk
*~
